<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>3ds</key>
	<true/>
	<key>CFBundleDisplayName</key>
	<string>Gamebit</string>
	<key>CFBundleIdentifier</key>
	<string>com.gamebitapp.gamebit</string>
	<key>MinimumOSVersion</key>
	<string>7.0</string>
	<key>SelectedTab</key>
	<integer>0</integer>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>MainStoryboard</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UseNativeApps</key>
	<false/>
	<key>pc</key>
	<true/>
	<key>ps3</key>
	<true/>
	<key>systems</key>
	<string>3ds,pc,ps3,ps4,vita,wii,wiiu,xb360,xbone</string>
	<key>vita</key>
	<true/>
	<key>wii</key>
	<true/>
	<key>wiiu</key>
	<true/>
	<key>xb360</key>
	<true/>
	<key>SystemRefresh</key>
	<string>h,r,d,e</string>
	<key>ps4</key>
	<true/>
	<key>xbone</key>
	<true/>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>Translucent</key>
			<false/>
			<key>TintColor</key>
			<dict>
				<key>Red</key>
				<real>0</real>
				<key>Green</key>
				<real>1</real>
				<key>Blue</key>
				<real>0.190920881971466</real>
			</dict>
		</dict>
	</dict>
	<key>XSLaunchImageAssets</key>
	<string>Images.xcassets/LaunchImages.launchimage</string>
	<key>XSAppIconAssets</key>
	<string>Images.xcassets/AppIcons.appiconset</string>
	<key>CFBundleShortVersionString</key>
	<string>3.1</string>
	<key>CFBundleVersion</key>
	<string>100</string>
</dict>
</plist>
